@import 'libs/bootstrap-reboot';
@import 'libs/fonts';
@import 'libs/slick';
@import 'libs/animate';

@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';



* {
    font-family: 'Museo Sans Cyrl', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

